extends layout

block content

  div(class="title-box")
    h1(class="sub-title")= title

    a(href=catagory.url+"/update" class="update-link") Edit Catagory

  div(class="plant-collection")
    each plant in plants
      div(class="plant-box")
        a(href=plant.url)
          if plant.image
            img(src=`/images/${plant.image}`)
          else
            img(src='/images/stock-plant.jpg')
          h2(class="plant-name")= plant.name
          p(class="plant-details")= plant.description.slice(0, 180) + "..."



