extends layout

block content
  if success != ""
    div.alert.alert-success= success
  div.container
    h2(class="sub-heading")= category.name

    p.category-description= category.description

    if currentUser
      div.admin-buttons
        a(href= category.url + "/update" class="btn btn-primary") Edit Category
        a(href= category.url + "/delete" class="btn btn-secondary") Delete Category

    div.plant-collection.mt-5
      each plant in plants
        div.plant-box
          if plant.image
            figure(class="plant-index-image" style=`background-image:url(/images/${plant.image})`)
              figcaption.plant-index-caption
                h2.plant-name.mt-3= plant.name
                a(href=plant.url class="btn btn-primary") Learn More
              div.plant-overlay
          else 
            figure(class="project-index-image" style="background-image:url(/images/stock-plant.jpg)")
              figcaption
                h2.plant-name.mt-3= plant.name
                a(href=plant.url class="btn btn-primary") Learn More
              div.plant-overlay


