extends layout

block content

  div.container
    h1(class="sub-title")= title

    a(href= category.url + "/update" class="update-link") Edit Category
    a(href= category.url + "/delete") Delete Category

    div(class="plant-collection")
      each plant in plants
        div.plant-box
          if plant.image
            figure(class="plant-index-image" style=`background-image:url(/images/${plant.image})`)
              figcaption.plant-index-caption
                h2.plant-name.mt-3= plant.name
                a(href=plant.url class="btn btn-primary") Learn More
              div.plant-overlay
          else 
            figure(class="project-index-image" style="background-image:url(/images/stock-plant.jpg)")
              figcaption
                h2.plant-name.mt-3= plant.name
                a(href=plant.url class="btn btn-primary") Learn More
              div.plant-overlay


