extends layout

block content

  div.container
    header.plant-detail-header
      h1.main-title.mr-3= plant.name
      a(href=plant.category.url class="link")= plant.category.name

    if plant.image
      img(src=`/images/${plant.image}`)
    else
      img(src='/images/stock-plant.jpg')
    main          
      p(class="plant-description")= plant.description

      p(class="plant-stock") $#{plant.price} (#{plant.stock} left!)
    footer
      if delete_plant === undefined
        div(class="button-box")
          a(href=plant.url+"/update" class="btn btn-primary") Edit Plant
          a(href=plant.url+"/delete" class="btn btn-success") Delete Plant
      else
        form(action="" method="POST")
          label(for="delete") Delete #{plant.name}?
          a(href=plant.url) No I Need This Plant!
          button(type="submit") Really Delete?


