extends layout

block content
  div.container.form-centered.mt-3.mb-3
    form(action="" method="POST" enctype="multipart/form-data")
      h1(class="sub-heading")= title
      if errors 
        each error in errors
          div.alert.alert-danger= error.msg
      if error
        div.alert.alert-danger= error
      if message
        div.alert.alert-danger= message
      div(class="form-group")
        label(for="name") Plant Name
        input(class="form-control" type="text" name="name" required="true" value=(undefined===plant ? '' : plant.name))
      div(class="form-group")
        label(for="description") Description
        textarea(class="form-control" name="description", required="true")= (undefined===plant ? '' : plant.description)
      div(class="form-group")
        label(for="category") Plant Category
        select(class="form-control" name="category")
          each category in categories
            if plant === undefined
              option(value=category.id)= category.name
            else
              if category.name === plant.category.name
                option(value=category.id selected="selected")= category.name
              else  
                option(value=category.id)= category.name
      div(class="form-group")
        label(for="price") Price
        input( class="form-control" type="text" name="price" value=(undefined===plant ? '' : plant.price))
      div(class="form-group")
        label(for="stock") Current Stock
        input(class="form-control" type="text" name="stock" value=(undefined===plant ? '' : plant.stock))
      div(class="form-group")
        label(for="image") Add An Image
        if plant
          if plant.image
            img(src=`/images/${plant.image}` class="thumbnail")
        input(type="file" name="image" accept="image/png, image/jpeg" class="form-control")
      button(type="submit" class="btn btn-primary btn-block")= button