extends layout

block content

  div.container.plant-details-box
    figure(class="plant-detail-image")
      if plant.image
        img(src=`/images/${plant.image}`)
      else
        img(src='/images/stock-plant.jpg')
    header.plant-detail-header
      h1.main-title.mr-3= plant.name
      a(href=plant.category.url class="link")= plant.category.name
    main         
      p(class="plant-description")= plant.description
      p(class="plant-stock") $#{plant.price} (#{plant.stock} left!)
    if currentUser
      footer
        div(class="admin-buttons")
          a(href=plant.url+"/update" class="btn btn-primary") Edit Plant
          a(href=plant.url+"/delete" class="btn btn-warning") Delete Plant
    