extends layout

block content
  div.container.mt-3
    h1.sub-heading.text-left All Plants
    div.plant-collection
      each plant in plant_list
        div.plant-box
          if plant.image
            figure(class="plant-index-image" style=`background-image:url(/images/${plant.image})`)
              figcaption.plant-index-caption
                h2.plant-name.mt-3= plant.name
                a(href=plant.url class="btn btn-primary") Learn More
              div.plant-overlay
          else 
            figure(class="project-index-image" style="background-image:url(/images/stock-plant.jpg)")
              figcaption
                h2.plant-name.mt-3= plant.name
                a(href=plant.url class="btn btn-primary") Learn More
              div.plant-overlay
  
  include partials/_footer

